@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

a:link, a:visited, a:hover, a:active {
    color:white;
}
.navbar {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}